@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root{
  --main-background-color-1: #6a1b9a;
  --footer-background-color-1: black;
  --main-category-heading-color: rgb(37, 45, 48);
  --about-background-color: #6a1b9a;
  --container-color: #fff;
}
input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
* a:hover, a:hover{
  text-decoration: none;
}
